*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

/* header */

header {
     background-color: #4CAF50;
     padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 12px;
}

nav .logo p{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color_orange{
    color: orange;
    font-weight: bolder;
}

nav a{
    text-decoration: none;
}


nav ul{
    list-style: none;
    display: flex;
}


nav ul li{
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    font-weight: bolder;
}

nav ul li a:hover{
    color: orange;
    transition: all 0.3s ease;
}

/*cards*/

.card{
    margin: 20px;
}

.card:hover .card-img-top {
    transform: scale(1.5); 
}

.card .card-img-top{
    transition: transform 0.3s ease;
}

.card:hover .card-img-top{
    transform:scale(1.1) ;
}


.btn_style{
    background-color: #4CAF50;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.btn_style:hover{
    background-color: orange;
    transition: all 0.3s ease;
}

.subtitle{
    padding-left: 22px;
    text-decoration: underline; 
    text-decoration-color: orange;
}

/*paginacion*/
.paginacion{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination-navegadores{
    display: flex;
    gap: 10px;
    padding: 0;
}

.pagination-navegadores .paginacion-nav a{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #f57c00; 
    color: white; 
    border-radius: 4px;
    transition: background-color 0.3s ease; 
}

.pagination-navegadores .paginacion-nav a:hover{
    background-color: #ff9800;
}




/* footer */

 
footer{
    background-color: #4CAF50;
    padding: 18px;
    text-align: center;
}

.footer-links{
    list-style: none;
    padding: 0;
}

.footer-links li{
    display: inline;
    margin: 10px;
}

.footer-links a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

footer .copy{
    color: white;
    font-size: 18px;
}


/*media queries para el header (modo celular)*/

@media (max-width: 768px){
    nav{
        flex-direction: column;
    }

    nav .logo p{
        font-size: 24px; 
        margin-bottom: 10px;
    }

    nav ul{
        font-size: 12px;
        align-items: center;
    }
    

    nav ul li{
        margin: 10px 0;
    }

    nav ul li a{
        font-size: 12px;
    }
}