*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
     background-color: #4CAF50;
     padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 15px;
}

nav .logo p{
    font-size: 29px;
  
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a{
    text-decoration: none;
}


nav ul{
    list-style: none;
    display: flex;
}


nav ul li{
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 8px 16px;
}